<% include partials/header %>

<body class="contact">
        <div id="homeTextBlock">
            <div class="col-lg-12">
                    <div class="container">
                        <div id="homeText"> 
                            <h1>Let Us Know How We Are Doing!</h1>
                            <h3>Contact Us at <a>Blahbloop@gmail.com</a></h3> 
                        </div>
                </div>
            </div> 
        </div>
    </body>
    
<% include partials/footer %>