<% include partials/header %>

    <body class="home">
        <div class="row" id="homeTextBlock">
            <div class="col-lg-12">
                    <div class="container">
                        <div id="homeText"> 
                            <h1>Rural Reviewer</h1>
                            <h3>Look before you leap with our stellar national park reviews</h3> 
                            <hr>
                            <h3>Revise Your Trip Now!</h3>
                            <a href="/reviews" class="btn btn-primary">Brows Reviews</a>
                        </div>
                </div>
            </div> 
        </div>
    </body>
    
			



<% include partials/footer %>