<!--login-->

<% include ./partials/header %> <!--file is above partials, so you can use './' to start from the current directory -->

<div class="logInForm">
    <div class="container">
        <div class="row">
            <h1>Log In!</h1>
            <!--register form -->
            <form action="/login" method="POST"> <!--want to pass in the id for the review-->
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password"> 
                <button class="btn btn-large btn-primary">Log In!</button>
            </form>
            <p><a href="/register">No Account? Sign Up here!</a></p>
            <p><a href="/reviews">...or go back</a></p>
        </div> 
    </div>
</div>

<% include ./partials/footer %>